<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @pictures_of_cat.image %>
</p>


<%= link_to 'Edit', edit_pictures_of_cat_path(@pictures_of_cat) %> |
<%= link_to 'Back', pictures_of_cats_path %>
